.random-planet {
  padding: 0;
  justify-content: center;
  height: 200px;
}

.random-planet .item-details {
  flex-direction: row;
  background-color: transparent;
  border: none;
  margin: 0;
}

.random-planet .item-details__image {
  max-height: 150px;
  width: auto;
  border-radius: 10px;
  margin-right: 1rem;
}
