.random-planet {
  padding: 0;
  justify-content: center;
  min-height: 200px;
}

.random-planet .item-details {
  background-color: transparent;
  border: none;
}

.random-planet .item-details__image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 1rem;
}
