.item-details {
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.item-details .card-body {
  padding-top: 0;
}

.item-details__image {
  max-width: 35%;
  height: auto;
  border-radius: 10px;
}

.item-details .list-group-item {
  padding: 0.25rem;
}

.item-details .list-group-item .term {
  margin-right: 0.5rem;
}

@media screen and (max-width: 500px) {
  .item-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-details__image {
    max-width: 70%;
    margin: 1rem;
  }
}
